{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Autenticação{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/costanza.png' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>
    {% if success %}
        <div class="alert alert-success">{{ success }}</div>
    {% elif error %}
        <div class="alert alert-error">{{ error }}</div>
    {% endif %}
    {% block content %}{% endblock %}
</body>
</html>
